<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamecodeschool.aesopfables">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TheMountainsinLabourFable"
            android:label="@string/title_activity_the_mountainsin_labour_fable"
            android:parentActivityName=".AndroclesFable"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.AndroclesFable" />
        </activity>
        <activity
            android:name=".TheStageatthePool"
            android:label="@string/title_activity_the_stageatthe_pool"
            android:parentActivityName=".AndroclesFable"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.AndroclesFable" />
        </activity>
        <activity
            android:name=".TheFisherandtheLittleFishFable"
            android:label="@string/title_activity_the_fisherandthe_little_fish_fable"
            android:parentActivityName=".AndroclesFable"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.AndroclesFable" />
        </activity>
        <activity
            android:name=".TheLioninLoveFable"
            android:label="@string/title_activity_the_lionin_love_fable"
            android:parentActivityName=".AndroclesFable"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.AndroclesFable" />
        </activity>
        <activity
            android:name=".TheMischievousDog"
            android:label="@string/title_activity_the_mischievous_dog"
            android:parentActivityName=".AndroclesFable"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.AndroclesFable" />
        </activity>
        <activity
            android:name=".TheBoysandtheFrogs"
            android:label="@string/title_activity_the_boysandthe_frogs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TheCamelandtheArab"
            android:label="@string/title_activity_the_camelandthe_arab"
            android:parentActivityName=".AndroclesFable"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.AndroclesFable" />
        </activity>
        <activity
            android:name=".TheDogInvitedtoSupper"
            android:label="@string/title_activity_the_dog_invitedto_supper"
            android:parentActivityName=".AndroclesFable"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.AndroclesFable" />
        </activity>
        <activity
            android:name=".AndroclesFable"
            android:label="@string/title_activity_androcles_fable"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamecodeschool.aesopfables.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>